@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-100 text-slate-900;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}

button {
  touch-action: manipulation;
}
